<h1>Cadastrar novo restaurante</h1>

<form action="create" method="post">
  <p><input type="text" name="name" placeholder="Nome"></p>
  <p><input type="text" name="address" placeholder="Endereço"></p>
  <p><input type="text" name='rating' placeholder="Nota"></p>
  <p>
    <button>Salvar</button>
  </p>
</form>